@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

* {
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.primary-button {
    border-radius: 8px;
    background: #037a6e;
    padding: 20px 25px;
    color: #FFF;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    border: 0;
    cursor: pointer;
}

.primary-text {
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 25px;
}

/* Header style */
header {
    background-color: rgb(125, 162, 183);
    width: 100%;
    border-radius: 0 0 10px 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
}

nav li a {
    text-decoration: none;
}

.header-content {
    text-align: center;
}

.header-title {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.header-title-text {
    color: rgb(2, 83, 84);
    font-weight: 700;
    font-size: 4rem;
}

.header-title-description {
    color: rgb(27, 27, 27);
    margin-bottom: 10px;
}

.header-content img {
    width: 100%;
    margin-top: 20px;
}

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team {
    display: flex;
    margin-top: 30px;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    padding: 20px;
}

.team-content {
    padding: 0 50px;
}

.team-content-taitle {
    font-size: 2.7rem;
    margin-bottom: 20px;
}

.team-content-taitle .quick {
    color: gray;
    font-weight: 500;
}

.team-content-taitle .of {
    color: black;
    font-weight: 700;
}

.team-content-taitle .features {
    color: rgb(2, 83, 84);
    font-weight: 700;
}

/* Feature section */
.Features-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

.Features-content {
    width: 50%;
}

.Features-content-title {
    border-left: 7px solid rgb(2, 111, 113);
    padding-left: 24px;
    margin-bottom: 24px;
}

.text-box {
    font-size: 1.25rem;
    font-weight: 600;
    color: black;
    margin-bottom: 20px;
}

.Features-img img {
    width:100%;
    height: 982px;
    margin-left: 30px;

}

.year-10 {
    background-color: rgb(2, 104, 70);
    position: relative;
    bottom: 80px;
    right: 50px;
    text-align: center;
    padding: 40px;
    width: 200px;
    border-radius: 10px;
    color: white;
}


@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
        padding: 20px;
    }

    nav ul {
        margin: 10px 0;
    }

    .header-title-text {
        font-weight: 700;
        font-size: 3rem;
    }

    .primary-button {
        padding: 10px 15px;
    }

    .team {
        flex-direction: column;
    }

    .team-img-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }

    .team-content {
        margin-top: 20px;
    }
    .Features-container{
        flex-direction: column;
        width: 100%;
    }
    .Features-content {
        width: 80%;
        padding: 20px;
    }
    .Features-img img {
        width: 80%;
        height: 450px;
    }
}